<?xml version="1.0" ?>
<configuration>
	<appSettings>
		<add key="PollerConnection" value="DSN=Poller" />
		<add key="LogFile" value="c:\dev\John\poller.log" />
		<add key="DiffSeconds" value="20" />
		<add key="MoveToDir" value="c:\dev\John\FileStore" />
		<add key="MoveToErrorDir" value="c:\dev\John\ErrorFile" />
		<add key="LogMode" value="3" />
		<add key="PollInterval" value="2000" />
		<add key="RetryInterval" value="60000" />
		<add key="DailyPurgeTime" value="22:48" />
		<add key="DaysInDB" value="10" />
		<add key="LogFileSizeInKB" value="5000" />
		<add key="DaysInLocation" value="10" />
	</appSettings>
	<startup>
		<supportedRuntime version="v1.1.4322" />
		<requiredRuntime version="v1.1.4322" safemode="true" />
	</startup>
</configuration>
